.main{
    background-color: #383838;
    height: 75% !important;
    border-radius:29px;
    font-family: Poppins;
    width: 50%;
    margin-top:100px;
}
.about{
    height: 100px;
    color: whitesmoke;
}
.about-links{
    border-radius: 10px;
}

.btn-colorg{
    background-color: darkcyan;
    color: whitesmoke;
}

   .rounded{
    border-top-left-radius:25px !important;
    border-top-right-radius:25px !important;
    border-bottom-right-radius:25px !important;
    border-bottom-left-radius:25px !important;
   }
