body{
    background-color:#151515;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
a{
    text-decoration: none !important;
}
a.middle
{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:darkcyan;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
.navbarr{
    display: inline;
}
.navbar_headings{
    background-color:#151515;
     color: darkcyan !important;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    border:none;
    transition: 0.5s;
}
  .navbar_headings:hover{
    font-size: 1.2;
    color: whitesmoke !important;
}  
.logo{
    font-size: 20px;
    font-weight: 600;
    color: darkcyan;
    font-family: Poppins;
    border:none;
}
.sign_up{
color: hsl(351, 90%, 59%);
    border: 2px solid #F53855;
    border-radius: 50px;
    font-weight:500;
/* width: 150px;
height: 45px;
left: 1148px;
top: 41px; */
justify-content: center;
}
.sign_up:hover{
    background-color:  hsl(351, 90%, 59%);
    color:#151515;
    font-weight:600;
    transition: 0.5s;
}
.get-started{
    color: rgba(36, 194, 138, 1);
    width:60%;
    font-family: Poppins;
font-size: 2.5rem;
font-style: normal;
font-weight: 600;
/* line-height: 60px; */
letter-spacing: 0em;

margin-top:15%;
}
.imagee{
    min-width:70%;
    margin-top:20%;
}
@media (max-width: 730px) {
.get_started{
    width:75%;
}
    .imagee {
        display:none;
     }

}
.btn-color{
    background-color: darkcyan;
}
.btn-color:hover{
    background-color: #151515;
    color:darkcyan;
    border: 2px solid darkcyan;
    transition: 0.5s;
    /* border-radius: 50px; */
}
button{
    outline:none !important;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    padding: 0;
    font-size: 15px;
    height: 50px;
    transition: all 0.5s;
    background: rgba(26, 24, 22, 0.8);
    color: rgba(255, 255, 255, 0.7);
  }
  
  #topbar.topbar-transparent {
    background: transparent;
  }
  
  #topbar.topbar-scrolled {
    top: -50px;
  }
  
  #topbar i {
    color: #444444;;
  }
  
  #topbar i + i {
    margin-left: 15px;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 70px;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: rgba(26, 24, 22, 0.85);
  }
  
  #header.header-transparent {
    background: transparent;
  }
  
  #header.header-scrolled {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      top: 0;
      background: rgba(26, 24, 22, 0.85);
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-titles{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: white;
    padding: 9px 14px;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #ffa012;
    text-decoration: none;
  }
  
  .nav-menu .book-a-table a {
    background: #444444;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  
  .nav-menu .book-a-table a:hover {
    background: #ffa012;
    color: #fff;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #433f39;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #444444;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #fff;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #433f39;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #444444;
    text-decoration: none;
  }
  
  .mobile-nav .book-a-table a {
    background: #444444;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    display: inline-block;
  }
  
  .mobile-nav .book-a-table a:hover {
    background: #444444;
    color: #fff;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(39, 37, 34, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }


.section1{
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    float: left;
}

.tagline{
    font-size: 18px;
    font-weight: 300;
    line-height:normal;
    margin:0;
    padding:0;
    background-color: white;
}

.getstarted{
    color:darkcyan;
    background-color: white;
    padding:5px 10px;
    border-radius:5px;
    transition: 0.3s;
    font-weight: 500;
}

.getstarted:hover{
    background-color: darkcyan;
    color:white;
}
  
.section1 h2{
    text-align: center;
    z-index:10;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    color:#fff;
    padding:20px;
    margin:15px;
    font-size: 48px;
    font-weight: 700;
    width:60%;
    line-height:1.2rem;
}
  
.video-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

.color-overlay{
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width:100%;
    height:100vh;
    opacity:0.5;
}

#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 37, 34, 0.8);
    overflow: hidden;
    padding: 0;
}

