{% extends './base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}
{% block body %}
<div class="main w-75 mb-4 mx-auto h-50 d-flex flex-column  align-items-start justify-content-around">
  <button type=" span" class="btn btn-colorg btn-lg ml-4 mb-2 mt-4 rounded"><span class="font-weight-bold">About the
      Project</span></button>
  <div class="about ml-5 mt-3">
    <p style="padding-right: 20px;"> BT Detector is a web app which simplifies the process of brain tumor detection. The
      patient's brain MRI image is uploaded on our portal. Once uploaded, the image runs through our model. The model is
      built so as to accurately predict whether the patient is likely to have brain tumor or not.</p>
  </div>
  <button type="span" class="btn btn-colorg btn-lg  ml-4 mb-3 mt-3 rounded"><span class="font-weight-bold">Technology
      Used</span></button>
  <div class="about mt-3 ml-5">
    <a href="https://www.python.org/" target="_blank">
      <img class="about-links"
        src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white"
        alt="drawing" /></a>
    <a href="https://www.tensorflow.org/" target="_blank">
      <img class="about-links"
        src="https://img.shields.io/badge/TensorFlow-FF6F00?style=for-the-badge&logo=TensorFlow&logoColor=white"
        alt="drawing" /></a>
    <a href="https://keras.io/" target="_blank">
      <img class="about-links"
        src="https://img.shields.io/badge/Keras-D00000?style=for-the-badge&logo=Keras&logoColor=white"
        alt="drawing" /></a>
    <a href="https://www.djangoproject.com/" target="_blank">
      <img class="about-links"
        src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=white"
        alt="drawing" /></a>
    <a href="https://getbootstrap.com/" target="_blank">
      <img class="about-links"
        src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white"
        alt="drawing" /></a>
  </div>
</div>
{% endblock %}