{% extends './base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block body %}
<section id="hero">
    <div class="section1">
        <h2 style="font-family: Poppins;"><i> Brain Tumor Detection</i><br><br><br>
            <span class="tagline"><a class="getstarted" href="{% url 'upload' %}">Get Started</a></span>
            <br><br>
        </h2>
        <div class="video-container">
            <div class="color-overlay"></div>
            <video autoplay muted loop>
                <source src="{% static 'img/brain3.mp4' %}" type="video/mp4" />
            </video>
        </div>
    </div>
</section>
{% endblock %}