{% extends './base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
<link rel="javascript" type="text/javascript" href="{% static 'js/script.js' %}">
{% endblock %}
{% block body %}

<div class="w-50 card mx-auto" style="margin-top: 100px;">
    <div class="card-body text-center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title }}
            </div>
            <div class="form-group">
                {{ form.age }}
            </div>
            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.country }}
            </div>
            <div class="form-group">
                {{form.image}}
            </div>
            <button class="file-upload-btn" type="submit">Upload Image</button>
            <!-- <button class="upload btn btn-success" type="submit">Upload</button> -->
        </form>
    </div>
</div>

{% endblock %}